# deps
node_modules/

# next
**/.next/
**/out/
**/dist/

# logs/caches
*.log
**/.turbo/
**/.cache/

# yarn berry runtime/cache (tu utilises corepack, pas besoin de versionner ça)
.yarn/
.pnp.*
.yarnrc.yml.unplugged

# OS/editor
.DS_Store
Thumbs.db
.vscode/
